body {
    /*background: #f0f2f7;*/
    /*background: #e7e7e7;*/
    background-color: #eef2f3;
    color: #000000;
}

@media screen and (display-mode: standalone)
{
    header {
        background: #BFC5C9;
    }
}

.box {
    background: rgba(0, 0, 0, 0.03);
    border: 2px solid rgb(230, 230, 230);
    box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, 
    rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}

.col {
    background: rgba(0, 0, 0, 0.03);
    border: 2px solid rgb(230, 230, 230);
    box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, 
    rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}

.copy_link_mess {
    border: 2px solid #a7a7a7;
    background: #d8d8d8;
    color: #000;
    box-shadow: rgb(204 219 232) 3px 3px 6px 0px inset, 
    rgb(255 255 255 / 50%) -3px -3px 6px 1px inset;
}

.changeTheme[data-theme="light"] {
    display: none;
}

.changeTheme[data-theme="dark"] {
    display: block;
}